$white-color: #fff

body
    text-align: justify

.heading
    width: 100%
    position: fixed
    background-color: $white-color
    z-index: 99
    text-align: center

.sect
    min-height: 850px
    background-size: cover
    background-repeat: no-repeat
    background-position: 100% 90%
    background-attachment: fixed

.bg-img
    background-image: url("../imgs/aaron-swartz.jpg")

.subsection
    font-size: 18px
    min-height: 350px
    padding: 25px
    background-color: rgb(217, 179, 140)

.sec-sub
    background-color: $white-color
    min-height: 400px

.aaron-image
    margin: 0 auto
    padding: 15px

.aaron-trailer
    width: 400px
    height: 300px

footer
    height: 200px
    background-color: rgb(89, 89, 89)
    color: $white-color

    .bot
        position: relative
        bottom: -150px
        text-align: center

@media(max-width: 992px)
    .heading
        h1
            font-size: 25px

    .sect
        min-height: 900px
        background-size: cover
        background-size: 150% 100%

@media(min-width: 768px)
    .container
        width: 700px

@media(max-width: 320px)
    .heading
        h1
            font-size: 20px